<!-- views/index.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"> 
    <title>Admin Main</title>
</head>
<body>
    <h1>Admin Login</h1>
    <form action="/admin/login" method="post">
        <label for="userId">UserID:</label>
        <input type="text" id="userId" name="userId" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <div class="button-wrapper">
            <button type="submit" value="login">Login</button>
            <button type="submit" value="reset_password">Reset Password</button>
        </div>
    </form>
    <label for="message">{{ message }}</label>
</body>
</html>